.mortgage-english {
  .mortgage-content {
    .mortgage-heading {
      font-family: 'Poppins';
      font-size: 26px;
      font-weight: 600;
      line-height: 43px;
      letter-spacing: -0.005em;
      text-align: left;
      color: #1fa0e9;
      width: 244px;
      margin-left: 30px;
      margin-top: 40px;
    }
  }
  .mortgage-para {
    background-color: inherit;
    padding-top: 10px;
  }
}

@media only screen and (min-width: 600px) {
  .mortgage-english {
    .mortgage-content {
      .mortgage-heading {
        font-size: 48px;
        color: #1fa0e9;
        width: 500px;
        line-height: 63px;
        margin-left: 100px;
        margin-top: 40px;
      }
    }
    .mortgage-para {
      padding-top: 20px;
    }
  }
  .mortgage-social-panel {
    display: none;
  }
}
