.admin-checkbox-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Poppins';
  margin: 10px 0px;
  width: 70%;
  label {
    margin: 5px 0;
    color: #464646;
    font-weight: 500;
    span {
      color: #e60000fd;
      font-size: 13px;
      padding-left: 2px;
      position: relative;
      bottom: 3px;
    }
  }
  .admin-checkbox {
    border-radius: 3px;
    width: 30px;
    height: 25px;
    color: #464646;
    outline: none;
  }
}
