.header-ctrl-select {
  position: relative;
  display: inline-block;

  &:hover .dropdown-content {
    display: block;
  }
  &:active .dropdown-content {
    display: block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    border-radius: 4px;
    min-width: 150px;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    z-index: 10;
    background-color: #ffffff;
    margin-top: 6px;

    p {
      color: black;
      font-weight: 400;
      padding: 8px 16px;
      text-decoration: none;
      display: block;
      margin: 1px;

      &:hover {
        background-color: rgb(221, 239, 255);
      }
      &:active .dropdown-content {
        background-color: rgb(221, 239, 255);
      }
    }
  }
}
