.card-container{
    width: 25%;
    
    background-color:white;
    align-items: center;
    padding-bottom: 40px;
    margin-left: 50px;
    .team-image{
        padding-left: 20px;
        padding-top: 20px;
        margin-left: 20px;

        padding-left: 0px;
    }
    .card-title{
        padding-left: 30px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 120%;
        padding-top: 10px;
    }
    .card-description{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        padding-left: 30px;
        


    }
}

.ourpartner-main-container{
    width: 100%;
    social-panel{
        display: block;
    }
    .header{
            
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 700;
        font-size: 42.491px;
        line-height: 64px;
        position: absolute;
        left: 7.57%;
        right: 57.81%;
        top: 30%;
        bottom: 64.91%;
        color: #FFFFFF;

    }
    .partner-main-image{
        width: 100%;
    }
    .partner-container{
        width: 100%;
        background: #F2F2F2;
        .partner-card-container{

            display: flex;
            margin-top: 0px;
            padding-top: 20px;
            margin-left: 100px;
            .team-card{
                width: 100%;
                background-color: red;
        
                
                }
        }
        
     }
    
}


@media only screen and (max-width: 800px) {
    .card-container{
        width: 95%;
        
        background-color:white;
        align-items: center;
        margin: 0;
        margin-top: 20px;
        margin-left: 10px;
        padding-right: 0px;
        margin-right: 120px;
        .card-image-container{
            margin: 0 auto;
            width: fit-content;
        .team-image{
            padding-top: 20px;
            margin:0px auto;
        }}
        .card-title{
            padding-left: 30px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 20px;
            line-height: 120%;
            padding-top: 10px;
        }
        .card-description{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 140%;
            padding-left: 30px;
            
    
    
        }
    }

}
@media only screen and (max-width: 800px) {
    .ourpartner-main-container{
        width: 100%;
        background: #E5E5E5;
        .header{
                
            font-family: 'Poppins';
            font-style: normal;
            font-weight: 700;
            font-size: 27.491px;
            line-height: 27px;
            position: absolute;
            position: absolute;
            left: 7.57%;
            right: 57.81%;
            top: 10%;
            bottom: 64.91%;
            color: #FFFFFF;
    
        }
        .partner-main-image{
            width: 100%;
            height: 100%;
        }
        .partner-container{
            width: 100%;
            background: #E5E5E5;
            margin-top: 20px;
            .partner-card-container{
    
                display: flex;
                flex-direction: column;
                margin: 0;
                margin-bottom: 20px;
                padding: 0;
                .team-card{
                    width: 100%;
                    background-color: red;
            
                    
                    }
            }
            
         }
        
    }

}