.header-english {
  font-family: 'Poppins';

  .web-sidebar {
    display: none;
  }

  .show {
    opacity: 1;
    left: 0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
  }

  .hide {
    opacity: 0;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    left: -100%;
  }

  .mobile-sidebar {
    display: block;
    position: absolute;
    background-color: #e7f1ff !important;
    width: 70%;
    height: 100%;
    transition: all 0.25s;
    -webkit-transition: all 0.25s;
    z-index: 101;
    ul {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      list-style-type: none;
      margin: 0px 10px 0px 20px;
      padding: 0px;

      li {
        padding: 10px;
        padding-left: 20px;
        border-radius: 5px;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 12px;
        cursor: pointer;

        &:first-child {
          padding-left: 0px;
          padding: 5px 5px 0px 5px;
          margin: 5px;
          background-color: #b2d2ff;
          margin-left: auto;
          cursor: pointer;
        }

        &:hover {
          background-color: #b2d2ff;
        }
      }
    }
  }

  .header-list {
    background-color: #ffffff;
    margin: 0;
    padding: 7px 0px;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    .logo {
      padding: 0px 10px;
      padding-top: 7px;

      :first-child {
        cursor: pointer;
      }
    }

    .company-name {
      padding: 11px 10px 0px 14px;
      color: #2f70ff;
      letter-spacing: 0.5px;
      display: flex;
      flex-direction: column;
      left: 40px;
      .main-name {
        font-size: 20px;
        cursor: pointer;
        font-family: 'Poppins';
        font-weight: 700;
        line-height: 37px;
        letter-spacing: -0.6182856559753418px;
        span {
          font-weight: 100;
        }
      }

      .sub-name {
        font-weight: 500;
        font-size: 11.5px;
        cursor: pointer;
        opacity: 0;
      }
    }

    .desktop-li {
      display: none;
    }

    .header-btn {
      margin-left: auto;
      margin-right: 20px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .header-english {
    font-family: 'Poppins';

    .header-list {
      margin: 0;
      padding: 10px 20px;
      list-style-type: none;
      display: flex;
      align-items: center;

      .logo {
        // padding: 0px 15px;
        display: none;
      }

      .company-name {
        padding: 0px 15px 0px 0px;
        color: #2f70ff;
        display: flex;
        flex-direction: column;
        left: 15px;
        top: 10px;

        .main-name {
          font-size: 28.5px;
          font-family: 'Poppins';
          line-height: 37px;
          letter-spacing: -0.6182856559753418px;
          span {
            font-weight: 100;
            font-size: 28.5px;
          }
        }

        .sub-name {
          font-weight: 500;
          font-size: 14.5px;
        }
      }
      .desktop-li {
        display: inline-block;
        max-width: 690px;
        margin-left: 220px;
        margin-top: 10px;
      }
      .desktop-li-margin {
        margin-left: 250px;
      }
      .desktop-li-updated {
        display: inline-block;
        margin-left: auto;
        margin-top: 0px;
        display: flex;
        font-size: 13px;
        font-weight: 500;
        display: block;
      }
      .desktop-ul {
        display: inline-block;
        align-items: center;
        margin-right: 10px;
      }

      .luxury {
        display: flex !important;
        flex-direction: row;
        align-items: center;
        position: relative;

        .header-select {
          margin-right: 5px;

          &:hover .down-arrow {
            background-color: #1c3988;
          }
        }
      }

      .simple-list {
        display: block;
        float: left;
        padding: 0px 10px;
        font-weight: 500;
        font-size: 13px;
        cursor: pointer;

        &:hover {
          color: #1c3988;
        }
      }

      .header-btn {
        margin-right: 20px;
        margin-left: 0px;
      }
    }

    .show {
      opacity: 1;
      left: 0;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      overflow: hidden;
    }

    .hide {
      opacity: 0;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      left: -35%;
    }

    .mobile-sidebar {
      display: none;
    }

    .web-sidebar {
      display: block;
      position: absolute;
      background-color: #e7f1ff;
      width: 35%;
      height: 100%;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      transition: all 0.25s;
      -webkit-transition: all 0.25s;
      z-index: 11;
      ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        list-style-type: none;
        margin: 0px 10px 0px 20px;
        padding: 0px;

        li {
          padding: 15px;
          padding-left: 20px;
          border-radius: 5px;
          font-family: 'Poppins';
          font-weight: 600;
          font-size: 14px;
          cursor: pointer;

          &:first-child {
            padding-left: 0px;
            padding: 5px 5px 0px 5px;
            margin: 5px;
            background-color: #b2d2ff;
            margin-left: auto;
            cursor: pointer;
          }

          &:hover {
            background-color: #b2d2ff;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1042px) {
  .header-english {
    .header-list {
      .buy {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 980px) {
  .header-english {
    .header-list {
      .buy {
        display: none;
      }
      .rent {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 928px) {
  .header-english {
    .header-list {
      .buy {
        display: none;
      }
      .rent {
        display: none;
      }
      .sell {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 880px) {
  .header-english {
    .header-list {
      .buy {
        display: none;
      }
      .rent {
        display: none;
      }
      .sell {
        display: none;
      }
      .short {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 790px) {
  .header-english {
    .header-list {
      .buy {
        display: none;
      }
      .rent {
        display: none;
      }
      .sell {
        display: none;
      }
      .short {
        display: none;
      }
      .mortgages {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 716px) {
  .header-english {
    .header-list {
      .buy {
        display: none;
      }
      .rent {
        display: none;
      }
      .sell {
        display: none;
      }
      .short {
        display: none;
      }
      .mortgages {
        display: none;
      }
      .off {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 634px) {
  .header-english {
    .header-list {
      .buy {
        display: none;
      }
      .rent {
        display: none;
      }
      .sell {
        display: none;
      }
      .short {
        display: none;
      }
      .mortgages {
        display: none;
      }
      .off {
        display: none;
      }
      .luxury {
        display: none !important;
      }
    }
  }
}
