.header-english {
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;

    .simple-list-buy {
      margin-left: auto;
    }

    .simple-list {
      padding: 0px 20px;
    }
  }
}
