.luxuary-container {
  width: 100%;
  .luxury-header-class {
    border-bottom: 1px solid #efeff0;
  }
  .lux-main {
    .viewall {
      background-color: #ffffff;
      width: 100%;
      margin: 50px auto;
      .luxuary-text-width {
        width: 85%;
        margin: 20px;
        .l-heading {
          font-family: 'Poppins';
          font-style: normal;
          font-weight: 600;
          font-size: 24px;
          line-height: 37px;
        }
      }
      .card-row {
        display: flex;
        flex-wrap: wrap;
        width: 95%;
        margin: 3px auto;
      }
      .vw-btn {
        width: 97%;
        margin: 0px auto;
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .luxuary-container {
    .lux-main {
      .viewall {
        .luxuary-text-width {
          width: 90%;
          margin: 10px auto;
          .l-heading {
            font-size: 35px;
            line-height: 59px;
            letter-spacing: -0.03em;
          }
        }
        .card-row {
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          width: 92%;
          margin: 0px auto;
        }
        .vw-btn {
          width: 97%;
          margin: 0px auto;
        }
      }
    }
  }
}
