.v {
  background-color: aqua;
  align-items: center;
  margin: 50px auto;
  width: 70%;
  .order-one {
    grid-column: 0.2/ 3;
  }
  .order-two {
    grid-column: 1 / 3;
  }
  .order-three {
    grid-column: 1.5/ 3;
  }
}
