.chip-select {
  height: fit-content;
  max-height: 200px;
  z-index: auto;
  cursor: pointer;
  margin: 10px 0px;
  font-family: 'Poppins';

  label {
    color: #464646;
    font-weight: 500;
    span {
      color: #e60000fd;
      font-size: 13px;
      padding-left: 2px;
      position: relative;
      bottom: 3px;
    }
  }

  .dropdown-content {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    z-index: 999 !important;
    max-height: 200px;
    overflow-y: scroll;
    background-color: white;
    p {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 12px;
      padding: 10px;
      color: #1c3988;
      margin: 1px;

      &:hover {
        background-color: #f3f3fa;
      }
    }
  }

  .select-box {
    display: flex;
    cursor: pointer;
    border: 1px solid #cacaca;
    box-sizing: border-box;
    width: 100%;
    border-radius: 3px;
    padding: 13px 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    justify-content: space-between;
    color: #1c3988;
    align-items: center;

    .drop-btn {
      display: flex;
      flex-wrap: wrap;
      .drop-btn-chip {
        padding: 5px;
        border-radius: 4px;
        background-color: #fff1b8;
        margin: 0px 4px;
        color: #464646;
        display: flex;

        p {
          padding: 3px;
        }

        span {
          padding: 3px;
          border-radius: 50px;

          &:hover {
            background-color: #ffe681;
          }
        }
      }
    }
  }

  .show {
    display: block !important;
    z-index: 999;
  }

  .hide {
    display: none !important;
    z-index: 999;
  }
}
