.sell-form-card {
  z-index: 10;
  position: relative;
  .sell-formcard {
    background-color: #ffffff;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
    margin: 0px auto;
    margin-top: -100px;
    width: 90%;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 10px 36px 0px,
      rgba(0, 0, 0, 0.01) 0px 0px 0px 1px;

    .list-main {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    .list-sub {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    .name {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
    }
    .email {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 4;
    }
    .mobile {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 5;
    }
    .property {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
    }
    .location {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 7;
    }
    .sell-search-btn {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 8;
    }
  }
}

@media only screen and (min-width: 600px) {
  .sell-form-card {
    width: 400px;
    .sell-formcard {
      .list-main {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 1;
      }
      .list-sub {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 2;
      }
      .name {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 3;
      }
      .email {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 4;
      }
      .mobile {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 5;
      }
      .property {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 6;
      }
      .location {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 7;
      }
      .sell-search-btn {
        grid-column-start: 1;
        grid-column-end: 5;
        grid-row-start: 8;
      }
    }
  }
}
