.ad-s-on {
  // transition: 1s !important;
  top: 700px !important;
}

.home-category-frame {
  align-items: center;
  position: absolute;
  display: flex;
  overflow-x: scroll;
  top: 550px;
  width: 100%;
  padding-left: 350px;
  justify-content: center;
  align-items: center;
  .property-type-component-outer {
    display: flex;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 5px 10px;
    .property-type-component-inner {
      border: 3px solid #ffffff;
      width: 100px;
      height: 100px;
      border-radius: 50%;

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        border: 2px solid #2f70ff;
        object-fit: cover;
      }
    }
    p {
      color: #ffffff;
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 9.9px;
      margin-top: 10px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .ad-s-on {
    top: 560px !important;
  }
  .home-category-frame {
    display: flex;
    width: 100%;
    padding-left: 0px;
    overflow-x: hidden;
    top: 440px;
    .property-type-component-outer {
      margin: 5px 30px;
      .property-type-component-inner {
        width: 120px;
        height: 120px;
      }
      p {
        font-size: 13.77px;
        font-weight: 400;
      }
    }
  }
}
