.rent-english {
  .rent-header-class {
    .mobile-sidebar {
      background-color: #e7f1ff !important;

      ul {
        background-color: #e7f1ff !important;
      }
    }
    width: 100%;
    margin: 0 auto;

    .header-list {
      background-color: transparent !important;
    }

    .logo {
      color: #ffffff;
    }

    .desktop-li {
      li {
        &:hover {
          transition: all 1s ease-out;
          color: #0084ff;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .rent-english {
    .rent-header-class {
      width: 89%;
    }
  }
}
