.admin-textarea-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Poppins';
  margin: 10px 0px;
  width: 70%;
  label {
    margin: 5px 0;
    color: #464646;
    font-weight: 500;
    span {
      color: #e60000fd;
      font-size: 13px;
      padding-left: 2px;
      position: relative;
      bottom: 3px;
    }
  }
  .admin-textarea {
    resize: none;
    border: 1px solid #cacaca;
    border-radius: 3px;
    padding: 10px;
    font-size: 17px;
    color: #464646;
    outline: none;
  }
}
