.add-offplan-form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  margin-top: 30px;
  .offplan-input {
    width: 100%;
  }
  .select-border {
    margin: 10px 0px;
  }
  .add-offplan-form-left {
    display: flex;
    flex-direction: column;
    width: 100%;

    .amenities-instruction {
      margin-top: 10px;
      padding-top: 10px;
      color: #8d8d8d;
      font-family: 'Poppins';
      font-size: 13px;
      max-width: 800px;
    }
  }
  .add-offplan-form-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;

    .pls-fill {
      margin-top: 10px;
      font-family: 'Poppins';
      font-size: 13px;
      max-width: 800px;
      color: #ff0000;
      display: none;
    }

    .offplan-image-label {
      font-family: 'Poppins';
      margin: 5px 0;
      color: #464646;
      font-weight: 500;
      span {
        color: #e60000fd;
        font-size: 13px;
        padding-left: 2px;
        position: relative;
        bottom: 3px;
      }
    }

    .add-offplan-btn {
      width: 50%;
      margin-top: 46px;
      height: 47px;
      font-family: 'Poppins';
      background-color: #1c3988;
      font-weight: 600;
    }
  }

  .offplan-row-div {
    display: flex;
    width: 49%;
    gap: 10px;
  }

  .first-img-Class-admin {
    height: 200px;
  }

  .img-loading {
    width: 100%;
    height: 40px;
    background-color: #faf0d7;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: #464646;
  }
  .btn-admin-div {
    margin-bottom: 40px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .add-offplan-form {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
    margin-top: 30px;

    .offplan-input {
      width: 70%;
    }
    .select-border {
      margin: 10px 0px;
    }
    .add-offplan-form-left {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .add-offplan-form-right {
      display: flex;
      flex-direction: column;
      width: 100%;

      .offplan-image-label {
        font-family: 'Poppins';
        margin: 5px 0;
        color: #464646;
        font-weight: 500;
        span {
          color: #e60000fd;
          font-size: 13px;
          padding-left: 2px;
          position: relative;
          bottom: 3px;
        }
      }
      .spinner-label {
        display: flex;
        align-items: center;

        .img-add-error {
          color: #ff0000;
        }
      }

      .add-offplan-btn {
        width: 50%;
        margin-top: 46px;
        height: 47px;
        font-family: 'Poppins';
        background-color: #1c3988;
        font-weight: 600;
      }
    }

    .offplan-row-div {
      display: flex;
      width: 49%;
      gap: 10px;
    }
    .offplan-row-div-upload {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      height: max-content;
      gap: 10px;
    }
  }
  .img-loading {
    width: 70%;
    height: 40px;
    background-color: #faf0d7;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: #464646;
  }
}
