.add-offplan-form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  margin-top: 30px;
  .offplan-input {
    width: 100%;
  }
  .select-border {
    margin: 10px 0px;
  }
  .add-offplan-form-left {
    display: flex;
    flex-direction: column;
    width: 100%;

    .amenities-instruction {
      margin-top: 10px;
      padding-top: 10px;
      color: #8d8d8d;
      font-family: 'Poppins';
      font-size: 13px;
      max-width: 800px;
    }
  }
  .add-offplan-form-right {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 40px;

    .pls-fill {
      margin-top: 10px;
      font-family: 'Poppins';
      font-size: 13px;
      max-width: 800px;
      color: #ff0000;
      display: none;
    }
    .offplan-image-label {
      font-family: 'Poppins';
      margin: 5px 0;
      color: #464646;
      font-weight: 500;
      span {
        color: #e60000fd;
        font-size: 13px;
        padding-left: 2px;
        position: relative;
        bottom: 3px;
      }
    }

    .add-offplan-btn {
      width: 50%;
      margin-top: 46px;
      height: 47px;
      font-family: 'Poppins';
      background-color: #1c3988;
      font-weight: 600;
    }
  }

  .offplan-row-div {
    display: flex;
    width: 49%;
    gap: 10px;
  }
  .offplan-row-div-upload {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
    height: max-content;
    gap: 10px;

    .second-img-Class-admin {
      height: 200px;
    }

    .first-img-Class-admin {
      height: 200px;
    }

    .add-new-img-upload {
      height: 200px;
      border: 1px dotted gray;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  .first-img-Class-admin {
    height: 200px;
  }

  .img-loading {
    width: 100%;
    height: 40px;
    background-color: #faf0d7;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: #464646;
  }
  .btn-admin-div {
    margin-bottom: 40px;
    flex-direction: column;
  }
}

@media only screen and (min-width: 600px) {
  .add-offplan-form {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
    margin-top: 30px;

    .offplan-input {
      width: 70%;
    }
    .select-border {
      margin: 10px 0px;
    }
    .add-offplan-form-left {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .add-offplan-form-right {
      display: flex;
      flex-direction: column;
      width: 100%;

      .offplan-image-label {
        font-family: 'Poppins';
        margin: 5px 0;
        color: #464646;
        font-weight: 500;
        span {
          color: #e60000fd;
          font-size: 13px;
          padding-left: 2px;
          position: relative;
          bottom: 3px;
        }
      }
      .spinner-label {
        display: flex;
        align-items: center;

        .img-add-error {
          color: #ff0000;
        }
      }

      .add-offplan-btn {
        width: 50%;
        margin-top: 46px;
        height: 47px;
        font-family: 'Poppins';
        background-color: #1c3988;
        font-weight: 600;
      }

      .multiple-input-container {
        border: 1px solid #cacaca;
        padding: 5px 5px;
        margin: 5px 0px;
        width: 70%;

        .add-n-label {
          display: flex;
          justify-content: space-between;
          align-items: center;
          label {
            font-size: 14px;
            font-family: 'Poppins';
            margin: 5px 0;
            color: #464646;
            font-weight: 500;
          }

          .plus-add-n-label {
            margin-right: 10px;
            cursor: pointer;
          }
        }

        .multiple-input-control {
          display: flex;
          flex-direction: column;
          gap: 10px;
          border: none;
          margin: 10px;
          border-radius: 5px;
          background-color: #a9af7e;
          .control-div {
            padding: 5px 5px 0px 5px;
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            .close-btn {
              padding: 3px 5px;
              cursor: pointer;
            }
          }
          .multiple-input-row {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 10px;
            margin: 0px 5px 5px 5px;
            padding: 2px 2px;
            border: none;
            border-radius: 5px;
            background-color: #a9af7e;
            .for-label-cls {
              display: flex;
              flex-direction: column;
              order: 1;
              width: 47%;
              label {
                color: #ffffff;
              }

              .multiple-input-class {
                height: 30px;
                border: none;
                outline: none;
                padding-left: 7px;
                border-radius: 3px;
                font-family: 'Poppins';
                font-size: 13px;
              }
            }
            .for-label-cls-txt {
              display: flex;
              flex-direction: column;
              order: 2;
              width: 97%;
              label {
                color: #ffffff;
              }
              .multiple-textarea-class {
                min-height: 80px;
                border: none;
                outline: none;
                border-radius: 3px;
                padding: 0px 4px 0px 7px;
                font-family: 'Poppins';
                font-size: 13px;
              }
              .upload {
                height: 160px;
              }
            }
          }
        }
      }
    }

    .offplan-row-div {
      display: flex;
      width: 49%;
      gap: 10px;
    }
    .offplan-row-div-upload {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      width: 70%;
      height: max-content;
      gap: 10px;
    }
  }
  .img-loading {
    width: 70%;
    height: 40px;
    background-color: #faf0d7;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: #464646;
  }
}
