.home-featured {
  margin: 100px auto;
  width: 80%;
  .heading {
    font-family: 'Poppins';
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    letter-spacing: 0.44444411993026733px;
    text-align: left;
  }
}
