.single-property-view {
  .main-container {
    // flex: 1;
    display: flex;
    background-color: #eef7ff;
    padding: 3% 4%;
    .image-slider-container {
      width: 56%;

      .image-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        .div-1 {
          width: 14%;
          background-color: rgba(0, 0, 0, 0.5);
          height: 400px;
          display: flex;
          justify-content: center;
          align-content: center;
          padding-top: 190px;

          .rArrow {
            background-color: white !important;
            width: max-content;
            color: #1fa0e9;
            height: max-content;
            width: 40px;
            height: 40px;
            padding-top: 14px;
            padding-left: 14px;
            border-radius: 50%;

            // opacity: 100% !important;
          }
        }
        .div-2 {
          width: 14%;
          background-color: rgba(0, 0, 0, 0.5);
          height: 400px;
          display: flex;
          justify-content: center;
          align-content: center;
          padding-top: 190px;

          .rArrow {
            background-color: white !important;
            width: max-content;
            color: #1fa0e9;
            height: max-content;
            width: 40px;
            height: 40px;
            padding-top: 14px;
            padding-left: 16px;
            border-radius: 50%;

            // opacity: 100% !important;
          }
        }
      }
    }
    .main-details-container {
      padding: 3%;
      background-color: white;
      width: 44%;
      .details-container {
        .heading {
          font-size: 25px;
          font-weight: 500;
          font-family: "Poppins";
          color: #2a2c30;
        }
        .button-div {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .btn-1 {
            width: 47%;
            border-radius: 3px;
            margin-top: 10px;
            height: 40px;
          }
          .btn-2 {
            width: 47%;
            border-radius: 3px;
            height: 40px;
            background-color: white;
            border-color: #1fa0e9 !important;
            color: black;
            border: solid;
            border-width: 1.5px;
            margin-top: 10px;
          }
        }
        .reference {
          font-size: 15px;
          font-family: "Poppins";
          font-weight: 400;
          margin-top: 20px;
          .reference-span {
            color: #1fa0e9;
          }
        }
        .btn-3 {
          width: 37%;
          border-radius: 3px;
          height: 35px;
          background-color: #4764c3;
          // display: flex;
          // align-content: center;
          // justify-content: center;
          margin-top: 20px;
        }
      }
    }
  }
  .full-details-main-div {
    padding: 4%;
    .full-details-container {
      width: 40%;
      .proerty-details-heading {
        font-family: "Poppins";
        color: #333333;
        font-weight: 600;
        font-size: 27px;
      }
      .property-description {
        font-family: "Poppins";
        color: #333333;
        font-weight: 400;
        font-size: 21px;
        margin-top: 20px;
      }
    }
    .ameneties-container {
      .proerty-details-heading {
        font-family: "Poppins";
        color: #333333;
        font-weight: 600;
        font-size: 27px;
        margin-top: 30px;
      }
      .amenities-list {
        display: flex;
        flex: 1;
        width: 70%;
        justify-content: space-evenly;
        align-content: center;

        flex-wrap: wrap;
        .amenities {
          display: flex;
          // justify-content: space-evenly;
          align-content: center;
          width: 33%;
          margin-top: 20px;
          .amenties-icon {
            width: 25px;
            height: 25px;
          }
          .ameneties-text {
            font-size: 19px;
            font-weight: 400;
            font-family: "Poppins";
            color: #333333;
            margin-left: 20px;
          }
        }
      }
    }
  }
  .contact-agent-div {
    width: 100%;
    background-color: #eef7ff;
    padding: 3% 5%;
    .proerty-details-heading {
      font-family: "Poppins";
      color: #333333;
      font-weight: 600;
      font-size: 27px;
    }
    .contact-agent-container {
      background-color: white;
      // height: 400px;
      width: 100%;
      padding: 30px;
      display: flex;
      .image-div {
        width: 40%;

        .agent-image {
          width: 100%;
          height: 350px;
        }
      }
      .details-div {
        width: 60%;

        padding: 2% 4%;
        .agent-name {
          font-family: "Poppins";
          color: #2a2c30;
          font-weight: 500;
          font-size: 25px;
        }
        .agent-designation {
          font-family: "Poppins";
          color: #2a2c30;
          font-weight: 500;
          font-size: 15px;
          margin-top: 10px;
          padding-bottom: 20px;
        }
        .agent-no {
          font-family: "Poppins";
          color: #2a2c30;
          font-weight: 400;
          font-size: 15px;
          margin-top: 10px;
          padding-bottom: 10px;
        }
        .reference {
          font-size: 15px;
          font-family: "Poppins";
          font-weight: 500;
          margin-top: 10px;
          .reference-span {
            color: #1fa0e9;
          }
        }
        .btn-div {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          .btn-1 {
            width: 32%;
            border-radius: 3px;
            margin-top: 15px;
            height: 40px;
          }
          .btn-2 {
            width: 32%;
            border-radius: 3px;
            height: 40px;
            background-color: white;
            border-color: #1fa0e9 !important;
            color: black;
            border: solid;
            border-width: 1.5px;
            margin-top: 15px;
          }
          .btn-3 {
            width: 32%;
            border-radius: 3px;
            margin-top: 15px;
            height: 40px;
            background-color: #28de66;
          }
        }
      }
    }
  }
  .similar-properties {
    padding: 4%;
    .proerty-details-heading {
      font-family: "Poppins";
      color: #333333;
      font-weight: 600;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 600px) {
  .single-property-view {
    .main-container {
      flex-wrap: wrap;
      .image-slider-container {
        width: 100%;

        .image-container {
          .div-1 {
            width: 14%;
            background-color: rgba(0, 0, 0, 0.5);
            height: 250px;
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 90px;

            .rArrow {
              background-color: white !important;
              width: max-content;
              color: #1fa0e9;
              height: max-content;
              width: 40px;
              height: 40px;
              padding-top: 14px;
              padding-left: 14px;
              border-radius: 50%;

              // opacity: 100% !important;
            }
          }
          .div-2 {
            width: 14%;
            background-color: rgba(0, 0, 0, 0.5);
            height: 250px;
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 90px;

            .rArrow {
              background-color: white !important;
              width: max-content;
              color: #1fa0e9;
              height: max-content;
              width: 40px;
              height: 40px;
              padding-top: 14px;
              padding-left: 16px;
              border-radius: 50%;

              // opacity: 100% !important;
            }
          }
        }
      }
      .main-details-container {
        padding: 3%;
        background-color: white;
        width: 100%;
        .details-container {
          .heading {
            font-size: 20px;
            font-weight: 500;
            font-family: "Poppins";
            color: #2a2c30;
          }
          .button-div {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .btn-1 {
              width: 47%;
              border-radius: 3px;
              margin-top: 10spx;
              height: 40px;
            }
            .btn-2 {
              width: 47%;
              border-radius: 3px;
              height: 40px;
              background-color: white;
              border-color: #1fa0e9 !important;
              color: black;
              border: solid;
              border-width: 1.5px;
              margin-top: 10px;
            }
          }
          .reference {
            font-size: 15px;
            font-family: "Poppins";
            font-weight: 400;
            margin-top: 20px;
            .reference-span {
              color: #1fa0e9;
            }
          }
          .btn-3 {
            width: 100%;
            border-radius: 3px;
            height: 40px;
            background-color: #4764c3;
            // display: flex;
            // align-content: center;
            // justify-content: center;
            margin-top: 20px;
          }
        }
      }
    }
    .full-details-main-div {
      padding: 4%;
      .full-details-container {
        width: 100%;
        .proerty-details-heading {
          font-family: "Poppins";
          color: #333333;
          font-weight: 600;
          font-size: 27px;
        }
        .property-description {
          font-family: "Poppins";
          color: #333333;
          font-weight: 400;
          font-size: 21px;
          margin-top: 20px;
        }
      }
      .ameneties-container {
        .proerty-details-heading {
          font-family: "Poppins";
          color: #333333;
          font-weight: 600;
          font-size: 27px;
          margin-top: 30px;
        }
        .amenities-list {
          display: flex;
          flex: 1;
          width: 100%;
          justify-content: space-evenly;
          align-content: center;

          flex-wrap: wrap;
          .amenities {
            display: flex;
            // justify-content: space-evenly;
            align-content: center;
            width: 100%;
            margin-top: 20px;
            .amenties-icon {
              width: 25px;
              height: 25px;
            }
            .ameneties-text {
              font-size: 19px;
              font-weight: 400;
              font-family: "Poppins";
              color: #333333;
              margin-left: 20px;
            }
          }
        }
      }
    }
    .contact-agent-div {
      width: 100%;
      background-color: #eef7ff;
      padding: 3% 5%;
      .proerty-details-heading {
        font-family: "Poppins";
        color: #333333;
        font-weight: 600;
        font-size: 22px;
      }
      .contact-agent-container {
        background-color: #eef7ff;
        // height: 400px;
        width: 100%;
        padding: 0px;
        display: flex;
        flex-wrap: wrap;
        .image-div {
          width: 100%;

          .agent-image {
            width: 100%;
            height: 350px;
          }
        }
        .details-div {
          width: 100%;

          padding: 2% 4%;
          .agent-name {
            font-family: "Poppins";
            color: #2a2c30;
            font-weight: 500;
            text-align: center;
            font-size: 25px;
          }
          .agent-designation {
            font-family: "Poppins";
            color: #2a2c30;
            font-weight: 500;
            font-size: 15px;
            margin-top: 5px;
            text-align: center;
            padding-bottom: 20px;
          }
          .agent-no {
            font-family: "Poppins";
            color: #2a2c30;
            text-align: center;
            font-weight: 400;
            font-size: 15px;
            margin-top: 5px;
            padding-bottom: 10px;
          }
          .reference {
            font-size: 15px;
            font-family: "Poppins";
            text-align: center;
            font-weight: 500;
            margin-top: 5px;
            .reference-span {
              color: #1fa0e9;
            }
          }
          .btn-div {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            .btn-1 {
              width: 72%;
              border-radius: 3px;
              margin-top: 15px;
              height: 50px;
            }
            .btn-2 {
              width: 72%;
              border-radius: 3px;
              height: 50px;
              background-color: white;
              border-color: #1fa0e9 !important;
              color: black;
              border: solid;
              border-width: 1.5px;
              margin-top: 15px;
            }
            .btn-3 {
              width: 72%;
              border-radius: 3px;
              margin-top: 15px;
              height: 50px;
              background-color: #28de66;
            }
          }
        }
      }
    }
    .similar-properties {
      padding: 4%;
      .proerty-details-heading {
        font-family: "Poppins";
        color: #333333;
        font-weight: 600;
        font-size: 24px;
      }
    }
  }
}
