.single-property-view {
  .prop-view-header-class {
    border-bottom: 1px solid #ebebeb;
  }
  .main-container {
    .img-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      width: 95%;
      margin: 10px auto;
      height: 500px;
      gap: 5px;
      .main-img-container {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 4;
        .image-slide-container {
          width: 100%;
          height: 100%;
          .carousel-panel-prop {
            position: relative;
            display: flex;
            width: 100%;
            top: 45%;
            justify-content: space-between;
            align-items: center;
            padding: 20px;
            .rArrow {
              cursor: pointer;
              padding: 5px 10px;
              background-color: #ffffff;
              border-radius: 4px;
            }
          }
        }
      }
      .sub-img-container {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 1;
        grid-row-end: 3;
      }
      .main-video-container {
        grid-column-start: 3;
        grid-column-end: 5;
        grid-row-start: 3;
        grid-row-end: 3;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .single-property-view {
    .main-container {
      .img-container {
      }
    }
  }
}
