.ad-s-on-frame {
  height: 1010px !important;
}

.home-image-frame {
  // transition: 1s;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 760px;
  // background-image: linear-gradient(#6565d6, #6565d6);
  background-color: #6565d6;
  position: relative;
  overflow: hidden;
  z-index: -1;
  margin-top: -68px;
  align-items: center;

  .home-properties-caption {
    position: absolute;
    z-index: 10;
    display: flex;
    margin: 10px auto;
    margin-top: 100px;
    justify-content: center;
    width: 80%;
    font-family: 'Poppins';
    color: #ffffff;
    font-weight: 600;

    font-size: 36px;
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  .img-main-home {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }

  .background-square {
    overflow: hidden;
    width: 0;
    height: 0;
    border-left: 350px solid transparent;
    border-right: 700px solid transparent;
    border-bottom: 500px solid #eef7fe;
    z-index: -1;
    position: absolute;
    left: -190px;
  }

  .main-div {
    flex: 3 1 0;

    .text {
      margin: 20px auto 30px 10px;
      width: 80%;

      .first {
        color: #ff2d2d;
        font-family: 'Poppins';
      }
      .second {
        color: #000000;
        font-family: 'Poppins';
        font-weight: 600;
        font-size: 35px;
      }
      .third {
        color: #292929;
        font-family: 'Poppins';
        font-size: 12px;
        margin-top: 10px;
      }
      .home-black-btn {
        width: 40px;
        margin-top: 35px;
        height: 40px;
        background-color: #000000;

        .right-arrow-rotate {
          transform: rotate(-40deg);
          margin-top: 50px;
          margin-left: 8px;
        }
      }
    }
  }
  .no-mobile {
    display: none;
  }
  .img-div {
    width: 100%;
    height: 270px;
    margin: 5px 0px;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
    .desktop-only {
      display: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  .gt-home-img-frame {
    height: 97vh;
  }
  .ls-home-img-frame {
    height: 640px;
  }
  .home-image-frame {
    flex-direction: row;
    align-items: start;
    .home-properties-caption {
      position: absolute;
      z-index: 10;
      display: flex;
      margin: 10px auto;
      margin-top: 140px;
      justify-content: center;
      width: 100%;
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 38px;
      color: #ffffff;
    }

    .main-div {
      flex: 1 1 0;

      .text {
        margin: 130px auto 0px 100px;
        width: 300px;
      }
    }
    .no-mobile {
      display: block;
    }
    .img-div {
      width: 17%;
      height: 100%;
      padding-left: 14px;
      .desktop-only {
        display: block;
      }
    }
  }
}
