.newstopics-admin-table {
  .sale-admin {
    color: rgb(72, 72, 214);
  }

  .newstopics-admin-container {
    display: flex;
    flex-direction: column;
    .newstopics-admin-left {
      width: 100%;
    }
    .newstopics-admin-right {
      width: 100%;
    }
  }
}

@media only screen and (min-width: 600px) {
  .newstopics-admin-table {
    .newstopics-admin-container {
      display: flex;
      flex-direction: row;
      margin-top: 20px;
      .newstopics-admin-left {
        width: 60%;
        margin-top: 50px;
      }
      .newstopics-admin-right {
        width: 40%;
      }
    }
  }
}
