.add-taghead-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  .property-image-label {
    font-family: 'Poppins';
    margin: 5px 0;
    color: #464646;
    font-weight: 500;
    span {
      color: #e60000fd;
      font-size: 13px;
      padding-left: 2px;
      position: relative;
      bottom: 3px;
    }
  }
  .spinner-label {
    display: flex;
    align-items: center;

    .img-add-error {
      color: #ff0000;
    }
  }

  .taghead-input {
    width: 100%;
  }
  .taghead-logo-img {
    width: 100%;
    height: 200px;
    margin-top: 10px;
  }
  .add-taghead-btn {
    width: 50%;
    margin-top: 26px;
    height: 47px;
    font-family: 'Poppins';
    background-color: #1c3988;
    font-weight: 600;
    margin-left: auto;
  }
  .pls-fill {
    margin: 10px;
    font-family: 'Poppins';
    font-size: 13px;
    color: #ff0000;
    opacity: 0;
  }
}

@media only screen and (min-width: 600px) {
  .add-taghead-form {
    display: flex;
    justify-content: space-between;

    .add-taghead-btn {
      width: 20%;
      margin: 0px 0px 90px 0px;
      margin-left: auto;
    }

    .taghead-in-taghead {
    }
  }
}
