.rent-form-card {
  z-index: 10;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  left: 0;
  right: 0;
  top: 150px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.01) 0px 0px 0px 0px;
  .rent-formcard {
    background-color: #f3f3fa;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
    margin: 0px auto;
    width: 100%;

    .property {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    .search {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    .rent-search-btn {
      display: flex;
      align-items: center;
      font-weight: 700;
      justify-content: center;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 5;
    }
    .sale {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 4;
    }
    .price-from {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
    }
    .price-two {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
    }
    .rent-advanced-search-btn {
      color: #1c3988;
      background-color: #ffffff;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.1) 0px 0px 0px 1px;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
    }
  }
}

@media only screen and (min-width: 600px) {
  .rent-form-card {
    width: 75%;
    top: 340px;
    .rent-formcard {
      // .property {
      //   grid-column-start: 1;
      //   grid-column-end: 1;
      //   grid-row-start: 1;
      // }
      .search {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
      }
      .rent-search-btn {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
      }
      .property {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
      }
      .price-from {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
      }
      .price-two {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
      }
      .rent-advanced-search-btn {
        font-weight: 700;
        font-size: 16px;
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 4;
      }
    }
  }
}
