.add-property-form {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  justify-content: center;
  margin-top: 30px;
  .property-input {
    width: 100%;
  }
  .select-border {
    margin: 10px 0px;
  }
  .add-property-form-left {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .add-property-form-right {
    display: flex;
    flex-direction: column;
    width: 100%;

    .property-image-label {
      font-family: 'Poppins';
      margin: 5px 0;
      color: #464646;
      font-weight: 500;
      span {
        color: #e60000fd;
        font-size: 13px;
        padding-left: 2px;
        position: relative;
        bottom: 3px;
      }
    }

    .add-property-btn {
      width: 50%;
      margin-top: 46px;
      height: 47px;
      font-family: 'Poppins';
      background-color: #1c3988;
      font-weight: 600;
    }
  }

  .property-row-div {
    display: flex;
    width: 49%;
    gap: 10px;
  }
  .property-row-div-upload {
    display: flex;
    width: 100%;
    gap: 10px;
    .property-row-div-upload-flex {
      display: flex;
      flex-direction: column;
      width: 70%;
      gap: 10px;
    }
  }

  .img-loading {
    width: 70%;
    height: 40px;
    background-color: #faf0d7;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    color: #464646;
  }
}

@media only screen and (min-width: 600px) {
  .add-property-form {
    display: flex;
    flex-direction: row;
    margin: 0px auto;
    justify-content: center;
    margin-top: 30px;

    .property-input {
      width: 70%;
    }
    .select-border {
      margin: 10px 0px;
    }
    .add-property-form-left {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .add-property-form-right {
      display: flex;
      flex-direction: column;
      width: 100%;

      .property-image-label {
        font-family: 'Poppins';
        margin: 5px 0;
        color: #464646;
        font-weight: 500;
        span {
          color: #e60000fd;
          font-size: 13px;
          padding-left: 2px;
          position: relative;
          bottom: 3px;
        }
      }

      .add-property-btn {
        width: 50%;
        margin-top: 46px;
        height: 47px;
        font-family: 'Poppins';
        background-color: #1c3988;
        font-weight: 600;
      }
    }

    .property-row-div {
      display: flex;
      width: 49%;
      gap: 10px;
    }
    .property-row-div-upload {
      display: flex;
      width: 70%;
      gap: 10px;
      .property-row-div-upload-flex {
        display: flex;
        flex-direction: column;
        width: 70%;
        gap: 10px;
      }
    }
  }
}
