.btm-fixed {
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
  background-color: white;
  padding-bottom: 10px;

  position: fixed;
  bottom: 0;
  z-index: 9;
  width: 100%;
  display: none;

  .service-property-x {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 10px;
    margin: 20px 0px 0px 0px;
    padding: 0px 10px;
    padding-bottom: 1px;

    .service-btn-property {
      height: 35px;
      width: 30%;
      display: flex;
      gap: 4px;
      align-items: center;
      background-color: #dfdff7;
      color: #6565d6;
      justify-content: center;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}
@media screen and (max-width: 767px) {
  .btm-fixed {
    display: flex;
    .service-property-x {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-family: "Roboto";
      font-weight: 600;
      font-size: 10px;
      margin: 20px 0px 0px 0px;
      padding: 0px 10px;
      padding-bottom: 1px;

      .service-btn-property {
        height: 35px;
        width: 30%;
        display: flex;
        gap: 4px;
        align-items: center;
        background-color: #dfdff7;
        color: #6565d6;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
