.about-english-container{
    display: flex;
    background-color: blue;
    width: 100%;

        .image-container{
            
            .about-image{
                height: 80%;
                width: 110%;
                margin-left: 40px;
            }

        }
    
}