.about-english-container {
  width: 100%;
  background: #eef7ff;
  .about-header-class {
    border-bottom: 1px solid #eaf0fa;
    .mobile-sidebar {
      background-color: #eef7ff !important;

      ul {
        background-color: #eef7ff !important;
      }
    }
    width: 100%;
    margin: 0 auto;

    .header-list {
      background-color: #eef7ff !important;
    }

    .logo {
      color: #ffffff;
    }

    .desktop-li {
      li {
        &:hover {
          transition: all 1s ease-out;
          color: #0084ff;
        }
      }
    }
  }
  .about-properties {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .about-container {
      margin: 50px 0px;
      width: 90%;
      .property-header {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 30px;
        width: 100%;
      }
      .properties-description {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 13.2159px;
        line-height: 26px;
        padding-top: 10px;
        p {
          margin: 30px 0px;
        }
      }
      .about-properties-img {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        .about-card-container {
          background-color: #ffffff;
          padding: 15px;
          margin: 5px;
          align-items: center;
          justify-content: center;
          width: 330px;
          height: 390px;
          .team-image {
            width: 100%;
            height: 310px;
          }
          .about-card-detail {
            padding-top: 10px;
            font-family: 'Inter';
            font-style: normal;
            .card-title {
              font-weight: 700;
              font-size: 20px;
            }
            .card-description {
              font-weight: 400;
              font-size: 16px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .about-english-container {
    width: 100%;
    .about-properties {
      width: 100%;
      .about-container {
        width: 90%;
        .property-header {
          font-size: 50px;
        }
        .properties-description {
          font-size: 20.5px;
          line-height: 36px;
        }
        .about-properties-img {
          width: 100%;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}
