.card-container {
  width: 30%;

  background-color: white;
  align-items: center;

  .team-image {
    padding: 0;

    height: 400px;
    padding: 0;
    width: 350px;
  }
  .card-title {
    padding-left: 30px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 120%;
    padding-top: 10px;
  }
  .card-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    padding-left: 30px;
  }
}

.about-english-container {
  width: 100%;
  .image-container {
    width: 100%;
    .header {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 42.491px;
      line-height: 64px;
      position: absolute;
      position: absolute;
      left: 7.57%;
      right: 57.81%;
      top: 30%;
      bottom: 64.91%;
      color: #ffffff;

      //   text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
    }

    .about-image {
      height: 80%;
      width: 100%;
    }
  }

  .about-properties {
    width: 100%;

    left: 0.07px;
    top: 880.06px;
    background: #eef7ff;

    .property-header {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 51.2674px;
      line-height: 63px;
      letter-spacing: -0.03em;
      padding-top: 80px;
      padding-left: 100px;
    }
    .text-width {
      width: 80%;

      .properties-1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22.2159px;
        line-height: 36px;
        padding-left: 100px;
        padding-top: 30px;
        letter-spacing: -0.02em;
      }

      .properties-2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 22.2159px;
        line-height: 46px;
        padding-left: 100px;
        padding-top: 30px;
        letter-spacing: 0.02em;
      }
    }
  }
  .about-properties-2 {
    width: 100%;
    background-color: #eef7ff;
    display: flex;
    margin: 50px;

    .teamcard {
      margin: 0px;
    }
  }
}

.about-english-container {
  width: 100%;
  overflow: hidden !important;
  margin: 0;
  padding: 0;

  .image-container {
    background-color: white;
    width: 100%;
    margin: 0;
    padding: 0;
    .header {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 700;
      font-size: 42.491px;
      line-height: 64px;
      position: absolute;
      position: absolute;
      left: 7.57%;
      right: 57.81%;
      top: 30%;
      bottom: 64.91%;
      color: #ffffff;

      text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
    }

    .about-image {
      width: 100%;
    }
  }

  .about-properties {
    width: 100%;

    left: 0.07px;
    top: 880.06px;
    background: #eef7ff;

    .property-header {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 600;
      font-size: 51.2674px;
      line-height: 63px;
      letter-spacing: -0.03em;
      padding-top: 80px;
      padding-left: 100px;
    }
    .text-width {
      width: 80%;

      .properties-1 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 500;
        font-size: 22.2159px;
        line-height: 36px;
        padding-left: 100px;
        padding-top: 30px;
        letter-spacing: -0.02em;
      }

      .properties-2 {
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 400;
        font-size: 22.2159px;
        line-height: 46px;
        padding-left: 100px;
        padding-top: 30px;
        letter-spacing: 0.02em;
      }
    }
  }
  .about-properties-2 {
    width: 100%;
    background-color: #eef7ff;
    display: flex;
    margin: 50px;

    .teamcard {
      margin: 0px;
    }
  }
}

@media only screen and (max-width: 800px) {
  .card-container {
    width: 95%;

    align-items: center;
    margin: 0;

    .card-image-container {
      margin: 0 auto;
      width: fit-content;
      .team-image {
        padding-top: 20px;
        margin: 0px auto;
      }
    }
    .card-title {
      padding-left: 30px;
      font-family: 'Inter';
      font-style: normal;
      font-weight: 700;
      font-size: 20px;
      line-height: 120%;
      padding-top: 10px;
    }
    .card-description {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      padding-left: 30px;
    }
  }

.about-english-container {
  width: 100%;
  overflow: hidden !important;
  .image-container {
    width: 100%;
    .header {
      font-family: 'Poppins';
      font-weight: 700;
      font-size: 26.491px;

      position: absolute;
      top: 10%;

      color: #ffffff;

      text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.3);
    }

    .about-image {
      width: 100%;
    }

