.offplan-main-container {
  background-color: #eef7ff;
  .offplans-projects {
    width: 90%;
    margin: auto;
    .image-slider-container {
      width: 100%;
      margin-top: 30px;

      .image-container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        .div-1 {
          width: 14%;
          background-color: rgba(0, 0, 0, 0.5);
          height: 600px;
          display: flex;
          justify-content: center;
          align-content: center;
          padding-top: 280px;

          .rArrow {
            background-color: white !important;
            width: max-content;
            color: #1fa0e9;
            height: max-content;
            width: 40px;
            height: 40px;
            padding-top: 14px;
            padding-left: 14px;
            border-radius: 50%;

            // opacity: 100% !important;
          }
        }
        .div-2 {
          width: 14%;
          background-color: rgba(0, 0, 0, 0.5);
          height: 600px;
          display: flex;
          justify-content: center;
          align-content: center;
          padding-top: 280px;

          .rArrow {
            background-color: white !important;
            width: max-content;
            color: #1fa0e9;
            height: max-content;
            width: 40px;
            height: 40px;
            padding-top: 14px;
            padding-left: 16px;
            border-radius: 50%;

            // opacity: 100% !important;
          }
        }
      }
    }
    .availability {
      display: flex;
      justify-content: space-evenly;
      padding: 20px;
      .availability-div {
        background-color: white;
        width: 30%;
        // height: 100px;
        padding: 30px;
        text-align: center;
        .title {
          font-size: 15px;
          font-family: "Poppins";
          font-weight: 400;
        }
        .sub-title {
          font-size: 12px;
          font-family: "Poppins";
          font-weight: 600;
          color: #4764c3;
          margin-top: 10px;
        }
      }
    }
    .about {
      font-size: 18px;
      font-family: "Poppins";
      color: #2b2b2b;
      font-weight: 500;
      margin-top: 20px;
    }
    .Heading {
      font-size: 28px;
      font-family: "Poppins";
      color: black;
      font-weight: 600;
      margin-top: 20px;
    }
    .sub-heading {
      margin-top: 10px;
      font-size: 18px;
      font-family: "Poppins";
      color: black;
      font-weight: 400;
    }
    .offplan-card-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .offplan-card-size-div {
        width: 30%;
      }
    }
  }
  .amenities {
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    width: 90%;
    margin: auto;
    .amenities-main-div {
      display: flex;
      flex-wrap: wrap;
      margin-top: 20px;
      h1 {
        width: 100%;
        font-family: "Poppins";
        font-size: 32px;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: left;
      }
      .amenties-div {
        width: 30%;
        margin-top: 20px;
        display: flex;
        align-items: center;
        .dot-div {
          width: 15px;
          height: 15px;
          background-color: #2f70ff;
          border-radius: 8px;
        }
        p {
          margin-left: 5px;
          font-family: "Roboto";
          font-weight: 500;
          color: #464646;
          font-size: 18px;
        }
      }
    }
    svg {
      margin: auto;
    }
    .sub-heading {
      font-size: 18px;
      font-family: "Poppins";
      color: #1fa0e9;
      font-weight: 500;
      text-align: center;
      margin-bottom: 10px;
    }
  }
}
@media screen and (max-width: 600px) {
  .offplan-main-container {
    background-color: #eef7ff;
    .offplans-projects {
      width: 90%;
      margin: auto;
      // background-color: yellow;
      .image-slider-container {
        width: 100%;

        .image-container {
          // background-color: yellowgreen;
          .div-1 {
            width: 14%;
            background-color: rgba(0, 0, 0, 0.5);
            height: 250px;
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 90px;

            .rArrow {
              background-color: white !important;
              width: max-content;
              color: #1fa0e9;
              height: max-content;
              width: 40px;
              height: 40px;
              padding-top: 14px;
              padding-left: 14px;
              border-radius: 50%;

              // opacity: 100% !important;
            }
          }
          .div-2 {
            width: 14%;
            background-color: rgba(0, 0, 0, 0.5);
            height: 250px;
            display: flex;
            justify-content: center;
            align-content: center;
            padding-top: 90px;

            .rArrow {
              background-color: white !important;
              width: max-content;
              color: #1fa0e9;
              height: max-content;
              width: 40px;
              height: 40px;
              padding-top: 14px;
              padding-left: 16px;
              border-radius: 50%;

              // opacity: 100% !important;
            }
          }
        }
      }
      .about {
        font-size: 18px;
        font-family: "Poppins";
        color: #2b2b2b;
        font-weight: 500;
        margin-top: 20px;
      }
      .Heading {
        font-size: 28px;
        font-family: "Poppins";
        color: black;
        font-weight: 600;
        margin-top: 20px;
      }
      .sub-heading {
        margin-top: 10px;
        font-size: 18px;
        font-family: "Poppins";
        color: black;
        font-weight: 400;
      }
      .offplan-card-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        .offplan-card-size-div {
          width: 30%;
        }
      }
    }
    .amenities {
      display: flex;
      justify-content: space-between;
      padding-bottom: 100px;
      width: 90%;
      margin: auto;
      .amenities-div {
        background-color: white;
        padding: 20px;
        width: 100px;
        height: 130px;
      }
      svg {
        margin: auto;
      }
      .sub-heading {
        font-size: 18px;
        font-family: "Poppins";
        color: #1fa0e9;
        font-weight: 500;
        text-align: center;
      }
    }
  }
}
