.home-english {
  .property-render-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    .heading-home {
      font-family: 'Poppins';
      font-size: 26px;
      font-weight: 600;
      text-align: left;
      width: 94%;
    }
    .sub-home {
      font-family: 'Poppins';
      font-size: 15px;
      font-weight: 400;
      letter-spacing: -0.02em;
      text-align: left;
      width: 94%;
    }
  }
  .header-btn {
    background: linear-gradient(180deg, #ffffff, #ffffff);
    color: #2f70ff;
  }
  .home-header-class {
    .mobile-sidebar {
      background-color: #e7f1ff !important;

      ul {
        background-color: #e7f1ff !important;
      }
    }
    width: 100%;
    margin: 0 auto;

    .header-list {
      background-color: transparent !important;
    }

    .logo {
      color: #ffffff;
    }
    .company-name {
      .main-name {
        color: #ffffff;
      }
      .sub-name {
        color: #ffffff;
      }
    }
    .desktop-li {
      color: #ffffff;

      li {
        &:hover {
          transition: all 1s ease-out;
          color: #ffd0e0;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .home-english {
    .property-render-header {
      .heading-home {
        font-size: 48px;
      }
      .sub-home {
        font-size: 24px;
      }
    }
    .home-header-class {
      width: 89%;
    }
  }
}
