.home-english {
  .header-btn {
    background: linear-gradient(180deg, #ffffff, #ffffff);
    color: #2f70ff;
  }
  .home-header-class {
    .mobile-sidebar {
      background-color: #e7f1ff !important;

      ul {
        background-color: #e7f1ff !important;
      }
    }
    width: 100%;
    margin: 0 auto;

    .header-list {
      background-color: transparent !important;
    }

    .logo {
      color: #ffffff;
    }
    .company-name {
      .main-name {
        color: #ffffff;
      }
      .sub-name {
        color: #ffffff;
      }
    }
    .desktop-li {
      color: #ffffff;

      li {
        &:hover {
          transition: all 1s ease-out;
          color: #ffd0e0;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .home-english {
    .home-header-class {
      width: 89%;
    }
  }
}
