.basic-select {
  width: 100%;
  max-height: 43px;
  z-index: auto;
  cursor: pointer;

  .dropdown-content {
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: relative;
    z-index: 2;
    background-color: white;
    max-height: 200px;
    overflow-y: scroll !important;
    -webkit-overflow-scrolling: touch !important;
    p {
      font-family: 'Open Sans';
      font-weight: 400;
      font-size: 12px;
      padding: 10px;
      color: #1c3988;
      margin: 1px;

      &:hover {
        background-color: #f3f3fa;
      }
    }
  }

  .select-box {
    display: flex;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    padding: 13px 15px;
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 12px;
    justify-content: space-between;
    align-items: center;
    background-color: #f3f3fa;
    .drop-btn {
      font-family: 'Poppins';
      color: #838383;
      font-size: 12px;
      font-weight: 300;
    }
    .selected {
      color: #1c3988;
      font-weight: 500;
    }
  }

  .show {
    display: block !important;
    z-index: 999;
  }

  .hide {
    display: none !important;
    z-index: 999;
  }
}
