.list-property-api {
  background-color: #d9e5ff;
  min-height: 600px;

  &-details {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    top: 550px;
    font-family: 'Poppins';

    h1 {
      width: 85%;
      font-weight: 600;
    }
    p {
      width: 85%;
      font-weight: 400;
      padding-top: 2px;
    }
  }
}
@media only screen and (min-width: 600px) {
  .list-property-api {
    background-color: #d9e5ff;
    min-height: 600px;

    &-details {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top: 220px;
      font-family: 'Poppins';

      h1 {
        width: 85%;
        font-weight: 600;
      }
      p {
        width: 85%;
        font-weight: 400;
        padding-top: 2px;
      }
    }
  }
}
