.headerctrl {
  display: flex;
  gap: 0px 18px;
  align-items: center;
  .small-txt {
    font-size: 13px;
    margin-top: 1.5px;
  }
  .local-broder-purp {
    border-color: #6565d6;
    color: #6565d6;
  }
}
