.spinner-btn {
  border: none;
  background-color: #6565d6;
  color: #ffffff;
  border-radius: 4px;
  padding: 7px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;

  .btn-spinner-rt {
    padding-right: 5px;
    padding-bottom: 4px;
  }

  &:active {
    box-shadow: 0 1px #666;
    transform: translateX(1px);
  }
}
