.property-list {
  margin: 10px;
  border-radius: 4px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  .property-list-item {
    position: relative;
    background-color: #ffffff;
    border-radius: 4px;
    .prop-list-img {
      height: 200px;
    }
    .new-listing {
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 10;
      color: #ffffff;
      background-color: #2f70ff;
      height: 27px;
      width: 87px;
      font-size: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: 'Roboto';
      font-weight: 500;
      padding: 6px 10px;
      border-radius: 4px;
    }

    .property-rectangle {
      width: 27px;
      height: 27px;
      background: #ffffff;
      position: absolute;
      top: 10px;
      border-radius: 4px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .verified-property {
      left: 105px;
      width: 57px;
      background: #58ec65;
    }

    .no-verified {
      left: 10px;
    }
    .favourite {
      right: 47px;
    }
    .share {
      right: 10px;
    }

    // .property-verified {
    //   position: absolute;
    //   display: flex;
    //   background-color: #39a76d;
    //   z-index: 50;
    //   width: 75px;
    //   padding: 2px 3px 1px 3px;
    //   align-items: center;
    //   color: #ffffff;
    //   font-family: 'Poppins';
    //   font-weight: 500;
    //   font-size: 12px;
    //   left: -6px;
    //   top: 10px;
    //   justify-content: space-between;
    //   border-bottom-right-radius: 5px;
    //   border-top-right-radius: 5px;

    //   &:before {
    //     border-width: 0 0.4rem 0.4rem 0;
    //     top: 100%;
    //     border-style: solid;
    //     content: '';
    //     display: block;
    //     height: 0;
    //     left: 0;
    //     border-color: transparent #104227 transparent transparent;
    //     position: absolute;
    //     width: 0;
    //   }
    // }
    .address {
      position: absolute;
      top: 170px;
      display: flex;
      margin-left: 10px;
      gap: 3px;
      align-items: center;
      background-color: rgb(46, 46, 46, 0.5);
      padding: 1px 4px;
      border-radius: 3px;

      p {
        font-family: 'Poppins';
        font-weight: 600;
        color: #ffffff;
        font-size: 9px;
        opacity: 1;
      }
    }
    .price-tag {
      margin-left: 15px;
      margin-top: 6px;
      color: #2f70ff;
      font-family: 'Poppins';
      font-size: 13.5px;
      font-weight: 600;
    }
    .property-type-property {
      font-family: 'Poppins';
      color: #7e808c;
      font-size: 14px;
      margin-top: 4px;
      margin-left: 15px;
    }
    .main-heading {
      font-family: 'Poppins';
      text-transform: capitalize;
      color: #7e808c;
      font-size: 15px;
      font-weight: 600;
      margin-top: 5px;
      margin-left: 15px;
      cursor: pointer;
      height: 1.5em;
      overflow: hidden;
      transition: all 0.2s ease-out;
      width: 80%;
    }

    .description {
      font-family: 'Poppins';
      cursor: pointer;
      font-size: 10px;
      font-weight: 400;
      color: #333333;
      margin: 10px 10px 10px 15px;
      width: 90%;
    }

    .property-line {
      margin: 10px 10px;
      border-top: 1px solid #d3dee8;
    }
    .spec {
      display: flex;
      gap: 8px;
      font-family: 'Poppins';
      align-items: center;
      font-size: 10.53px;
      font-weight: 400;
      margin: 0px 20px;
      // .vl {
      //   border-left: 1px solid #d3dee8;
      //   height: 20px;
      // }
      .spec-wrap {
        display: flex;
        gap: 4px;
      }
      .go-right {
        margin-left: auto;
      }
    }

    .service-property {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      font-family: 'Roboto';
      font-weight: 600;
      font-size: 10px;
      margin: 5px 0px;
      padding: 0px 10px;
      padding-bottom: 1px;

      .service-btn-property {
        height: 35px;
        width: 30%;
        display: flex;
        gap: 4px;
        align-items: center;
        background-color: #d3e9fc;
        color: #2f70ff;
        justify-content: center;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }
}
.property-list:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 4px 5px 14px 5px;
}

@media only screen and (min-width: 600px) {
  .property-list {
    .property-list-item {
      .prop-list-img {
        height: 230px;
      }

      .favourite {
        right: 57px;
      }
      .share {
        right: 20px;
      }

      .address {
        top: 200px;
        p {
          font-size: 9px;
        }
      }

      .price-tag {
        font-size: 17px;
      }
      .main-heading {
        font-size: 20px;
        font-weight: 600;
      }

      .description {
        font-size: 14px;
        line-height: 24px;
        margin-top: 5px;
        margin-right: 20px;
      }

      .property-line {
        margin: 5px 10px;
      }
      .spec {
        gap: 8px;
        font-size: 14px;
        padding-bottom: 10px;
      }
    }
  }
}
