.featured-list {
  margin: 10px auto;
  .featured-list-item {
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    img {
      width: 100%;
    }
    .item-details {
      width: 100%;
      background-repeat: no-repeat;
      background-size: 100%;
      .item-details-container {
        padding: 40px;

        .details {
          display: flex;
          gap: 10px;
          font-family: 'Poppins';
          font-weight: 500;
          color: #4b4b4b;
          font-size: 9px;
        }

        .heading {
          font-family: Poppins;
          font-size: 15px;
          font-weight: 700;
          line-height: 34px;
          letter-spacing: 0em;
          text-align: left;
        }
        .description {
          font-family: Poppins;
          font-size: 12px;
          font-weight: 400;
          letter-spacing: 0em;
          text-align: left;
          color: #6e6e6e;
        }

        .price {
          display: flex;
          align-items: center;
          gap: 5px;
          font-family: Poppins;
          font-size: 16px;
          font-weight: 700;
          line-height: 36px;
          letter-spacing: 0em;
          text-align: left;

          .right-arrow {
            height: min-content;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  .featured-list {
    .featured-list-item {
      flex-direction: row;
      img {
        width: 50%;
      }
      .item-details {
        width: 50%;
        .item-details-container {
          padding: 70px;

          .details {
            display: flex;
            gap: 10px;
            font-family: 'Poppins';
            font-weight: 500;
            color: #4b4b4b;
            font-size: 13px;
          }

          .heading {
            font-family: Poppins;
            font-size: 23px;
            font-weight: 700;
            line-height: 34px;
            letter-spacing: 0em;
            text-align: left;
          }
          .description {
            font-family: Poppins;
            font-size: 16px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;
            color: #6e6e6e;
          }

          .price {
            display: flex;
            align-items: center;
            gap: 5px;
            font-family: Poppins;
            font-size: 23px;
            font-weight: 700;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;

            .right-arrow {
              height: min-content;
            }
          }
        }
      }
    }
  }
}
