.upload-container {
  border: 1px dotted gray;
  width: 100%;
  border-radius: 3px;
  font-family: 'Poppins';
  font-size: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  label {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .upload-img-class {
    width: 60%;
    margin: 0px auto;
    max-height: 100px;
  }
  .add {
    color: #8e74f3;
  }
  .success {
    color: green;
  }
  .error {
    color: red;
  }

  .upload-input {
    display: none;
  }
  .upload-img-icon {
    cursor: pointer;
  }
  .upload-picture {
    margin: 0px auto;
    margin-top: 30px;
    width: fit-content;
  }
  p {
    margin: 0px auto;
  }
}
