.buy-image-frame {
  position: relative;
  // z-index: -1;
  .img-frame {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}
@media only screen and (min-width: 600px) {
  .buy-image-frame {
    .img-frame {
      width: 100%;
      height: auto;
    }
  }
}
