.list-prop-property {
  margin: 0px auto;
  margin-top: 590px;
  background: #ffffff;
  .list-prop-property-content {
    margin: 0px auto;
    padding: 40px 0px 10px 0px;
    width: 90%;
    .heading {
      font-family: 'Poppins';
      font-size: 26px;
      font-weight: 600;
      line-height: 48.16px;
      letter-spacing: -0.03em;
      text-align: left;
    }
    .sub {
      font-family: 'Poppins';
      font-size: 15px;
      font-weight: 400;
      line-height: 25.91px;
      letter-spacing: -0.02em;
      text-align: left;
    }

    .property-list-container {
      display: flex;
      flex-direction: column;
    }
  }
  .view-all-list-prop-btn {
    display: flex;
    margin: 10px auto;
    padding: 15px 40px;
    font-family: 'Poppins';
    font-weight: 600;
    border-radius: 0px;
  }
}

@media only screen and (min-width: 600px) {
  .list-prop-property {
    margin-top: 260px;

    .list-prop-property-content {
      .heading {
        font-size: 48px;
        line-height: 59px;
      }
      .sub {
        font-size: 24px;
        line-height: 50px;
      }

      .property-list-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }
    .view-all-list-prop-btn {
      display: flex;
      margin: 10px auto;
      padding: 15px 40px;
    }
  }
}
