.view-btn-class-luxury {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 10px 0px;
  .container {
    width: 95%;
    .view-all-home-btn {
      display: flex;
      padding: 8px 20px;
      border-radius: 4px !important;
      background-color: #2f70ff;
      font-family: 'Poppins';
      font-weight: 600;
      border-radius: 0px;
      margin-left: 10px;
    }
  }
}

@media only screen and (min-width: 600px) {
  .view-btn-class-luxury {
    .container {
      .view-all-home-btn {
        padding: 10px 40px;
      }
    }
  }
}
