.footer-english {
  background-color: linear-gradient(180deg, #271a00, #000000);
  width: 100%;
  height: fit-content !important;
  padding-top: 50px;
  .mini-container {
    width: 90%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .header-text {
      font-family: 'Poppins';
      font-size: 24.61px !important;
      font-weight: 600;
      line-height: 37px;
      letter-spacing: -0.6182856559753418px;
      text-align: left;
      .text-span {
        color: #1fa0e9;
      }
    }
    .list-your-property-button {
      margin-top: 40px;
      width: fit-content;
      display: flex;
      justify-content: center;
      align-content: center;
      color: black;
      border-radius: 0 10px 0 0;
      padding: 14px 18px;
      font-size: 10px;
      font-family: Poppins;
      font-weight: 600;
      .right-arrow {
        padding-left: 6px;
      }
    }
  }

  .second-container {
    display: grid;
    gap: 20px;
    color: #ffffff;
    width: 90%;
    margin: auto;
    margin-top: 70px;
    justify-content: space-between;

    .column-1 {
      grid-column-start: 1;
      grid-column-end: 4;
      grid-row-start: 3;
      display: flex;
      p {
        font-family: 'Poppins';
        font-size: 32px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: -0.807948648929596px;
        text-align: left;
      }
      .icons {
        display: flex;
        margin-left: auto;
        flex-direction: row;
        margin-top: 12px;
        gap: 20px;
      }
    }

    .column-2 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
    }
    .column-3 {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 1;
    }
    .column-4 {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
    }
    .column-heading {
      font-family: 'Poppins';
      font-size: 15px;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: -0.37692299485206604px;
      text-align: left;
    }
    .column-link {
      font-family: DMSans;
      font-size: 15px;
      line-height: 18px;
      letter-spacing: -0.37692299485206604px;
      text-align: left;
      color: #979797;
    }
  }
  .third-container {
    display: grid;
    color: #ffffff;
    margin: auto;
    margin-top: 100px;
    padding-bottom: 30px;
    width: 90%;
    font-family: 'Poppins';
    font-size: 11px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: -0.37692299485206604px;
    text-align: center;
    gap: 10px;

    .abt {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
    }
    .abt-founder {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
    }
    .ourtm {
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
    }
    .ourpart {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    .career {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
    }
    .terms {
      grid-column-start: 2;
      grid-column-end: 4;
      grid-row-start: 2;
    }
    .policy {
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    .blog {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
    }
    .news {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 3;
    }

    .copy-right {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 4;
    }
  }
}

@media only screen and (min-width: 600px) {
  .footer-english {
    background-image: linear-gradient(180deg, #271a00, #000000);

    width: 100%;
    padding-top: 50px;
    .mini-container {
      width: 90%;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      .header-text {
        color: white;
        font-weight: 600;
        font-size: 42px;
        font-family: Poppins;
        .text-span {
          color: #1fa0e9;
        }
      }
      .list-your-property-button {
        margin-top: 0px;
        display: flex;
        justify-content: center;
        align-content: center;
        color: black;
        border-radius: 0 10px 0 0;
        padding: 14px 18px;
        font-size: 10px;
        font-family: Poppins;
        font-weight: 600;
        .right-arrow {
          padding-left: 6px;
          // background-color: blanchedalmond;
        }
      }
    }

    .second-container {
      display: grid;
      color: #ffffff;
      width: 90%;
      margin: auto;
      margin-top: 70px;
      justify-content: space-between;

      .column-1 {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        display: block;
        p {
          font-family: 'Poppins';
          font-size: 32px;
          font-weight: 600;
          line-height: 48px;
          letter-spacing: -0.807948648929596px;
          text-align: left;
        }
        .icons {
          display: flex;
          margin-left: 0;
          margin-top: 30px;
          gap: 40px;
        }
      }
      .column-2 {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
      }
      .column-3 {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 1;
      }
      .column-4 {
        grid-column-start: 4;
        grid-column-end: 4;
        grid-row-start: 1;
      }
      .column-heading {
        font-family: 'Poppins';
        font-size: 15px;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: -0.37692299485206604px;
        text-align: left;
      }
      .column-link {
        font-family: DMSans;
        font-size: 15px;
        line-height: 18px;
        letter-spacing: -0.37692299485206604px;
        text-align: left;
        color: #979797;
      }
    }
    .third-container {
      display: flex;
      color: #ffffff;
      margin: auto;
      margin-top: 100px;
      width: 90%;
      font-family: 'Poppins';
      font-size: 15px;
      font-weight: 500;
      line-height: 23px;
      letter-spacing: -0.37692299485206604px;
      text-align: left;
      gap: 10px;
      padding-bottom: 30px;

      .copy-right {
        margin-right: auto;
      }
    }
  }
}
