.terms-container {
  .h-container {
    background-color: #d9e5ff;
    height: 220px;
    font-family: 'Poppins';
    .p-header {
      font-weight: 600;
      font-size: 30px;
      margin-left: 20px;
      padding-top: 70px;
    }
    .p2-header {
      font-weight: 400;
      font-size: 13px;
      margin-left: 20px;
    }
  }
  .terms-container-inside {
    width: 92%;
    margin-left: 20px;
    h3 {
      font-family: 'Poppins';
      font-weight: 600;
      font-size: 22.22px;
      line-height: 36px;
      margin-top: 20px;
    }
    p {
      font-family: 'Poppins';
      font-style: normal;
      font-weight: 400;
      font-size: 15.22px;
      line-height: 28px;
      letter-spacing: 0.02em;
      margin-top: 20px;
    }
  }
}
@media only screen and (min-width: 600px) {
  .terms-container {
    .h-container {
      .p-header {
        font-size: 34px;
        margin-left: 70px;
        padding-top: 60px;
      }
      .p2-header {
        font-size: 13px;
        padding-top: 10px;
        margin-left: 73px;
      }
    }
    .terms-container-inside {
      width: 92%;
      margin-left: 70px;
      h3 {
        font-size: 24.22px;
        line-height: 26px;
        margin-top: 30px;
      }
      p {
        font-size: 15px;
      }
    }
  }
}
