.offplan-main-container-1 {
  .offplan-header-class {
    border-bottom: 1px solid #e9f1fd;

    .mobile-sidebar {
      background-color: #d9e5ff !important;

      ul {
        background-color: #d9e5ff !important;
      }
    }
    width: 100%;
    margin: 0 auto;

    .header-list {
      background-color: #d9e5ff !important;
    }

    .logo {
      color: #ffffff;
    }

    .desktop-li {
      li {
        &:hover {
          transition: all 1s ease-out;
          color: #0084ff;
        }
      }
    }
  }
  .offplan-card-container {
    height: 40px;
    // background-color: #d9e5ff;
  }
  .offplans-projects {
    width: 90%;
    margin: auto;
    .Heading {
      font-size: 35px;
      font-family: "Poppins";
      color: black;
      font-weight: 700;
      margin-top: 20px;
    }
    .sub-heading {
      margin-top: 10px;
      font-size: 18px;
      font-family: "Poppins";
      color: black;
      font-weight: 400;
    }
    .offplan-card-div {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      .offplan-card-size-div {
        width: 30%;
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .offplan-main-container-1 {
    .offplans-projects {
      width: 90%;
      margin: auto;
      .Heading {
        font-size: 35px;
        font-family: "Poppins";
        color: black;
        font-weight: 700;
        margin-top: 20px;
      }
      .sub-heading {
        margin-top: 10px;
        font-size: 18px;
        font-family: "Poppins";
        color: black;
        font-weight: 400;
      }
      .offplan-card-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .offplan-card-size-div {
          width: 100%;
        }
      }
    }
  }
}
