.home-form-card {
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  left: 0;
  right: 0;
  top: 200px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.01) 0px 0px 0px 0px;

  .home-formcard {
    background-color: #f3f3fa;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 40px 20px;
    margin: 0px auto;
    width: 100%;

    .search {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 1;
    }
    .property {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 2;
    }
    .sale {
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 3;
    }
    .price-from {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
    }
    .price-two {
      grid-column-start: 3;
      grid-column-end: 5;
      grid-row-start: 4;
    }
    .home-search-btn {
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      grid-column-start: 1;
      grid-column-end: 5;
      grid-row-start: 6;
      background-color: #1fa0e9;
      color: #ffffff;
      border: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  .home-form-card {
    width: 65%;
    top: 160px;

    .home-formcard {
      .search {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
      }
      .property {
        grid-column-start: 4;
        grid-column-end: 5;
        grid-row-start: 1;
      }
      .sale {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 2;
      }
      .price-from {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
      }
      .price-two {
        grid-column-start: 3;
        grid-column-end: 3;
        grid-row-start: 2;
      }
      .home-search-btn {
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 4;
      }
    }
  }
}
