.home-form-card {
  z-index: 1;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  left: 0;
  right: 0;
  top: 175px;
  background-color: #ffffff;
  border-radius: 8px;
  width: 90%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.01) 0px 0px 0px 0px;

  .home-formcard {
    background-color: #f3f3fa;
    border-radius: 8px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px 8px;
    padding: 10px 10px 10px 10px;
    margin: 0px auto;
    width: 100%;
    transition: 1s;

    .emirate {
      grid-row-start: 1;
      grid-column-start: 1;
      grid-column-end: 5;
    }

    .search {
      grid-row-start: 2;
      grid-column-start: 1;
      grid-column-end: 5;
    }
    .property {
      grid-row-start: 3;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .furnish-home {
      grid-row-start: 3;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .price-from {
      grid-row-start: 4;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .price-to {
      grid-row-start: 4;
      grid-column-start: 3;
      grid-column-end: 5;
    }
    .bed-home {
      grid-row-start: 5;
      grid-column-start: 1;
      grid-column-end: 3;
    }
    .bath-home {
      grid-row-start: 5;
      grid-column-start: 3;
      grid-column-end: 5;
    }

    .home-search-btn {
      grid-row-start: 6;
      grid-column-start: 1;
      grid-column-end: 5;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #2f70ff;
      color: #ffffff;
      border: none;
    }
  }
}

@media only screen and (min-width: 600px) {
  .home-form-card {
    width: 65%;
    top: 210px;

    .home-formcard {
      padding: 10px 10px 10px 10px;

      gap: 8px 10px;
      .emirate {
        grid-row-start: 1;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .search {
        grid-row-start: 1;
        grid-column-start: 2;
        grid-column-end: 6;
      }
      .property {
        grid-row-start: 2;
        grid-column-start: 1;
        grid-column-end: 3;
      }
      .furnish-home {
        grid-row-start: 2;
        grid-column-start: 3;
        grid-column-end: 4;
      }
      .price-from {
        grid-row-start: 2;
        grid-column-start: 4;
        grid-column-end: 6;
      }
      .price-to {
        grid-row-start: 3;
        grid-column-start: 1;
        grid-column-end: 2;
      }
      .bed-home {
        grid-row-start: 3;
        grid-column-start: 2;
        grid-column-end: 3;
      }
      .bath-home {
        grid-row-start: 3;
        grid-column-start: 3;
        grid-column-end: 4;
      }

      .home-search-btn {
        grid-row-start: 3;
        grid-column-start: 4;
        grid-column-end: 6;
        font-weight: 700;
        font-size: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
